.feeds {
  &__header {
    height: 48px;
    position: relative;
    z-index: 99;
    line-height: 22px;
    display: flex;
    border-bottom: 1px solid #e3e6e9;
    &--sidebarPart {
      background: $color-feeds-sidebar-background-theme-1;
      height: 48px;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0;
      width: 270px;
      .menuBtn {
        .icon {
          background-color: transparent;
          color: $color-feeds-menuIcon-display-sidebar-theme-1;
          font-size: 20px;
        }
      }
      .searchBarHeader {
        input {
          font-size: 14px;
          height: 38px;
          margin: 0;
          padding: 0 8px 0 8px;
          border: 0 none;
          border-radius: 5px;
          width: 200px;
        }
      }
      .displaySidebar {
        input {
          background-color: $color-feeds-searchBar-display-sidebar-bg-theme-1;
          color: $color-feeds-searchBar-display-sidebar-text-theme-1;
        }
      }
    }
    .sidebarCloseHeader {
      background-color: transparent;
      .menuBtn {
        .icon {
          color: #53585f;
        }
      }
      .searchBarHeader {
        input {
          background-color: #f3f4f7;
          color: #1a2433;
        }
      }
    }
    .userNav {
      cursor: pointer;
    }
    &--readingPart {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      padding-right: 20px;
      .left {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .leftBtn {
          border: 1px solid #b6c5d8;
          color: #53585f;
          font-weight: 500;
          margin-right: 10px;
          height: 36px;
          border-radius: 3px;
          box-sizing: border-box;
          font-size: 14px;
          padding-left: 8px;
          padding-right: 8px;
          line-height: 34px;
          position: relative;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          align-items: center;
          flex: 0 5 auto;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            color: #236edf;
            border: 1px solid #236edf;
          }
        }
        .active {
          border: 1px solid #d1dae6;
          color: #707d90;
          background-color: #f9f9fb;
          font-weight: bold;
        }
        .markAsRead {
          span {
            margin-left: 5px;
          }
        }
        .refresh {
          position: relative;
          margin-left: 20px;
          .icon {
            cursor: pointer;
          }
          .newArticleNotification {
            background-color: #3c5681;
            color: #ffffff;
            position: absolute;
            font-weight: 500;
            right: 10px;
            top: 0px;
            left: auto;
            min-width: 7px;
            height: 15px;
            width: 15px;
            line-height: 11px;
            box-shadow: 0px 0px 0px 2px #ffffff;
            padding: 2px;
            letter-spacing: -0.04rem;
            font-size: 10px;
            border-radius: 50%;
            text-align: center;
          }
        }
      }
    }
    &--searchView {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-left: 10px;
      padding-right: 20px;
    }
  }
  &__content {
    position: relative;
    &--sidebar {
      background-color: #294973;
      color: #d7dde4;
      width: 270px;
      overflow: hidden;
      position: relative;
      top: 0px;
      left: 0px;
      overflow-y: scroll;
    }

    .sidebarReadingPartClose {
      overflow: hidden;
      position: absolute;
      top: 0px;
      left: -280px;
    }

    .subscriptionsNav {
      padding-top: 15px;
      margin-bottom: 15px;
    }
    .item {
      line-height: 36px;
      padding: 2px 0;
      position: relative;
      .itemInner {
        margin: 0 12px;
        padding: 0 12px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #d7dde4;
        text-decoration: none;
        &:hover {
          background-color: #233e61;
          color: #d7dde4;
        }
        .icon {
          display: flex;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
        .description {
          display: flex;
          align-items: center;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 8px;
          margin-left: 12px;
          font-weight: 400;
          text-decoration: none !important;
          margin-left: 12px;
          font-weight: 400;
          font-size: 14px;
          opacity: 0.8;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          flex: 1;
        }
      }
    }
    .feedsNav {
      margin: 5px 0 0 0;
      padding: 0px 0 0 0;
      border: 0 none;
      border-radius: 0px;
      position: relative;
      min-width: 0;
      .title {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 10px 24px;
        .text {
          color: #fefefe;
          flex: 1 0 auto;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 0.04rem;
          font-weight: normal;
          opacity: 0.6;
        }
        .setting {
          cursor: pointer;
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }
      }
      .unRead {
        min-width: 20px;
        text-align: right;
        position: relative;
        span {
          font-size: 12px;
          vertical-align: middle;
          text-align: right;
          cursor: pointer;
          line-height: 20px;
          height: 20px;
        }
      }
      .sourceIcon {
        img {
          border-radius: 50%;
          overflow-clip-margin: content-box;
          overflow: clip;
        }
      }
    }

    &--pageContent {
      overflow: auto;
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 270px;
      padding: 0 20px;
    }
    .pageContentWhenSidebarClose {
      left: 0;
    }
  }
}
