$color-blue-1: #50a3a2;
$color-blue-2: #1875F3;
$color-blue-3: #a1bfbf;
$color-blue-4: #9fdedf;
$color-blue-5: #1a4f4d;


$color-white-1: #f9f9f9;
$color-white-2: #d3e8db;
$color-white-3: #e8f4f3;
$color-white-4: #f3f3f3;
$color-white-5: #c1d8d6;

$color-green-1: #53e3a6;
$color-green-2: #8aebc6;

$color-gray-1:#8e97a3;

$color-text-1: #203451;


$color-footer-background: #031732;