.adminProfile {
  padding: 1rem;
  &__title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }
  &__line {
    border-bottom: 2px solid #000;
    margin: 1rem 0;
  }
}

.adminCrawler {
  &__list {
    &--title {
      text-align: center;
      font-size: 1.5rem;
    }
  }
  &__addCrawler {
    &--embed {
      border: 2px solid #f1af79;
    }
    &--form {
      overflow: auto;
      padding: 20px;
      .title {
        font-size: 2rem;
        text-align: center;
        margin: 0;
      }
      .line {
        border-bottom: 2px solid #000;
        margin: 1rem 0;
      }
    }
  }

  &__addBtn {
    a {
      text-decoration: none;
      color: $color-white-2;
    }
  }

  &__iFrame {
    &--embed {
      height: 500px;
      width: 100%;
      overflow: auto;
    }
    &--loading {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.adminCategories, .adminTopics {
  &__title {
    text-align: center;
    font-size: 1.5rem;
  }
  &__overview {
    p {
      font-size: 1rem;
    }
  }
  &__list {
    padding: 20px 0;
    .btnPaging {
      button {
        margin: 0 20px;
      }
      p {
        display: inline-block;
      }
      span {
        margin-left: 2px;
        font-weight: bold;
      }
    }
    &--title {
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    &--table {
      display: block;
      width: 100%;
      overflow: auto;
      // white-space: nowrap;
      th {
        text-align: center;
      }
    }
  }

  &__modal {
    padding: 20px 30px;
    &--title {
      text-align: center;
    }
    &--line {
      border-bottom: 2px solid #000;
      margin: 1rem 0;
    }
    label {
      margin-bottom: 5px;
    }
    button {
      margin-top: 20px;
    }
  }
}

